<h2>Create New Sub </h2>

<form action="<%= subs_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Title: 
        <input type="text", name="sub[title]" value="">
    </label>
    <br>
    <label>Description: 
        <textarea name="sub[description]" value="" rows="6" cols="30">Type your sub description here.</textarea>
    </label>
    <br>
    <input type="hidden", name="sub[moderator_id]" value="<%= current_user.id %>">
    <input type="submit" value="Create Sub">